body {
    font-family: Helvetica, sans-serif;
    background: antiquewhite;
    text-align: center;
}

.logo {
    width: 256pt;
    margin-top: 40pt;
}

.title {
    font-size: 48pt;
    color: #C25CDF;
}